div {
    border: 2px solid black;
    width: 300px;
    padding: 10px;
    margin: 20px;
    background-color: lightgray;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
    text-align: center;
}